@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./img/rosayblancoo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 135vh; 
    
}

.dancing{
    font-family: 'Dancing Script';
}